.app-selector {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 0 7% 35%;
}

.uber-btn img {
    width: 60%;
    padding-top: 2%;
}

.uber-btn {
    background-color: rgba(55, 189, 137, 0.76);
    border-color: rgba(255, 255, 255, 0.76);
    border-radius: 4px;
    border-style: solid;
    width: 120%;
    margin: 0 10% 0 10%;
}

.indrive-btn {
    background-color: rgba(55, 189, 137, 0.76);
    border-color: rgba(255, 255, 255, 0.76);
    border-radius: 4px;
    border-style: solid;
    width: 120%;
}

.indrive-btn img {
    width: 60%;
    padding-top: 2%;
}

.didi-btn {
    background-color: rgba(55, 189, 137, 0.76);
    border-color: rgba(255, 255, 255, 0.76);
    border-radius: 4px;
    border-style: solid;
    width: 120%;
}

.didi-btn img {
    width: 40%;
    padding-top: 2%;
}
