.ref {
    border-style: solid;
    width: 10%;
    background-color: rgba(55, 189, 137, 0.76);
    border-color: aliceblue;
    border-radius: 4px;
    height: 34px;
    margin-bottom: 30px;
    font-size: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.ref:hover {
    transition: all 0.3s ease;
    background-color: rgb(19, 107, 78);
    transform: scale(1.05);
}

@media(max-width: 480px) {
    .ref {
        width: 30%;
    }
}
@media(max-width:768px) {
    .ref {
        width: 30%;
    }
}
